@font-face {
  font-family: Cooper Hewitt;
  src: url("./fonts/CooperHewitt-Book.otf") format("opentype");
}

@font-face {
  font-family: Cooper Hewitt;
  font-weight: italic;
  src: url("./fonts/CooperHewitt-BookItalic.otf") format("opentype");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Cooper Hewitt, sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}

.strike {
  border-bottom: 5px solid #36b6cc;
  border-radius: 5em;
  width: 4em;
  animation: fadeInLeft 1s;
}

.navbar,
.navbarHome {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  transition: top 0.3s;
}

.navbar {
  animation: fadeInDown 1s;
  animation-delay: 1s;
}

.navbar--hidden {
  top: -10vh;
}

.navigation a {
  position: relative;
  margin: 0 1.5em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 800;
  letter-spacing: 1.5px;
}

.navigation a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #36b6cc;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navigation a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.contact a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10em;
  border-radius: 2em;
  background-color: white;
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.contact a:hover {
  transform: translateX(-1em);
}

.contact i {
  color: tomato;
}

#heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url("./images/deer.jpg");
  height: 145vh;
  background-position: 0 27%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#heroContent {
  width: 40%;
  margin-top: 20vh;
  margin-bottom: 40vh;
  margin-left: 10vw;
  animation: backInLeft 2s 1;
}

#heroContent h1 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
}

@keyframes enlargeText {
  0% {
    font-size: 0;
  }

  100% {
    font-size: 4.2rem;
  }
}

#heroContent p {
  width: 90%;
  margin-top: 1.5em;
  font-size: 1.5em;
}

#heroButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.25em;
}

.heroButton {
  display: inline-block;
  padding: 0.5em 1.5em;
  border-radius: 2em;
  transition: all 0.3s ease-in-out;
}

.heroButton:hover {
  transform: translateY(-0.25em);
}

#touch {
  margin-right: 1.5em;
  background-color: white;
  color: tomato;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  animation: bounce 3s 1;
  animation-delay: 2s;
}

#process {
  border: 3px solid white;
  color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.processDescription {
  color: rgb(90, 89, 89);
  font-size: 0.9em;
}

#heroBrief {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 10vw;
}

#leftBrief {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#leftBrief h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  letter-spacing: 1.5px;
}

#leftBrief p {
  font-size: 1.25em;
}

#leftBrief p a {
  color: tomato;
  text-decoration: underline;
}

#rightBrief {
  width: 20%;
  margin-left: 15vw;
}

#rightBrief h5 {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  letter-spacing: 1.5px;
}

#rightBrief p {
  font-size: 1.5em;
}

#rightBrief a {
  color: white;
  font-size: 1.5em;
  text-decoration: underline;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

#rightBrief a:hover {
  color: tomato;
}

#homeWorkSection {
  background-color: #f5f5f5;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-bottom: 10vh;
}

#homeWorkSection h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: #361b5f;
}

#homeWorkExamples {
  margin-top: 5vh;
}

.workExample,
.workItem {
  display: flex;
  width: 70%;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.workExample:hover,
.workItem:hover {
  transform: translateY(-1em);
}

.exampleThumbnail,
.workThumbnail {
  width: 100%;
  height: 15em;
}

.exampleName,
.workName {
  margin-bottom: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: #361b5f;
}

.exampleTag,
.workTag {
  color: rgb(90, 89, 89);
  font-size: 1.25em;
}

.exampleLink {
  color: tomato;
  font-size: 1.25em;
  transition: all 0.3s ease-in-out;
}

.exampleLink:hover {
  color: #36b6cc;
  text-decoration: underline;
}

.reviewContainer {
  width: 90%;
}

#homeAbout {
  padding-bottom: 15vh;
}

#homeAboutContent {
  position: relative;
  margin-left: 5vw;
}

#homeAboutContent img {
  opacity: 0.5;
  z-index: -1;
}

#plansImg {
  width: 45vw;
  height: 45vh;
}

#contentText {
  position: absolute;
  top: 25%;
  left: 40%;
  width: 50%;
}

#contentText h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: #361b5f;
}

#contentText p {
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-size: 1.25em;
  color: rgb(90, 89, 89);
}

#homeAboutButton {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 2px solid #361b5f;
  border-radius: 2em;
  color: #361b5f;
  font-size: 1.25em;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

#homeAboutButton:hover {
  transform: translateX(1em);
}

#homeProcessSection {
  padding-top: 5vh;
  padding-bottom: 7vh;
  background-color: #f5f5f5;
}

#homeProcessSection .container h2 {
  width: 60%;
  color: #361b5f;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

#processList {
  margin-top: 2.5em;
  margin-bottom: 0;
}

.process {
  width: 65%;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  font-size: 1.5em;
  color: tomato;
  border-bottom: 2px solid #361b5f;
}

#ContactSection {
  padding-top: 5em;
  padding-bottom: 3em;
  background: rgb(78, 47, 57);
  background: linear-gradient(
    90deg,
    rgba(78, 47, 57, 1) 0%,
    rgba(64, 63, 72, 1) 100%
  );
  box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.4);
}

.wave {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wave::before,
.wave::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
}
.wave::before {
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(
    circle at 10px -5px,
    transparent 12px,
    white 13px
  );
}
.wave::after {
  height: 15px;
  background-size: 40px 20px;
  background-image: radial-gradient(
    circle at 10px 15px,
    white 12px,
    transparent 13px
  );
}

.wave-top::before,
.wave-top::after {
  bottom: auto;
  top: 0;
}

.wave-top::before {
  background-image: radial-gradient(
    circle at 10px 15px,
    transparent 12px,
    white 13px
  );
}
.wave-top::after {
  background-image: radial-gradient(
    circle at 10px 0,
    white 12px,
    transparent 13px
  );
}

#ContactTitle {
  width: 60%;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: white;
}

#ContactInfo {
  color: white;
}

#ContactInfo h4 {
  margin: 0;
  font-family: "Oswald";
  letter-spacing: 1px;
  font-weight: 800;
}

#ContactInfo p {
  width: 80%;
}

#ContactButton {
  display: inline-block;
  padding: 0.5em 1.5em;
  border-radius: 2em;
  padding: 0.5em;
  border-radius: 2em;
  background-color: white;
  font-size: 1.25em;
  color: tomato;
  transition: all 0.3s ease-in-out;
}

#ContactButton:hover {
  transform: translateX(1em);
}

.NavCover {
  height: 35vh;
  background-color: tomato;
  color: white;
  animation: backInDown 1s;
}

.NavCover .container h1 {
  margin-top: 0;
  padding-top: 2em;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
}

.NavCover .container p {
  font-weight: 600;
  letter-spacing: 1px;
}

#workPortfolio {
  background-color: #f5f5f5;
  animation: bounceInLeft 1s;
}

#workPortfolio .container {
  padding-top: 5vh;
  padding-bottom: 7vh;
}

.projectPage {
  width: 100vw;
}

.projectPage .container {
  padding-bottom: 5vh;
}

.projectName {
  color: #361b5f;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
}

.projectSubheading {
  margin-top: 3em;
  color: #361b5f;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
}

.projectDescription {
  white-space: pre-wrap;
  font-size: 1.25em;
  color: rgb(90, 89, 89);
}

.projectList li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #361b5f; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.projectList li {
  margin-left: 1em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: rgb(90, 89, 89);
}

.projectLink {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 2px solid tomato;
  border-radius: 2em;
  color: tomato;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
}

.projectLink:hover {
  transform: translateX(1em);
}

.projectGallery {
  background-color: #f5f5f5;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.projectCap {
  width: 100%;
  height: auto;
  padding: 3em;
}

#servicesPage .NavCover {
  height: 40vh;
}

#servicesHeading {
  width: 45%;
}

#servicesTitle {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: #361b5f;
  animation: fadeInLeft 1s;
}

.serviceItem {
  margin: 2em 0 3em 0;
  animation: fadeInUp 1s;
  transition: all 0.3s ease-in-out;
}

.serviceItem:hover {
  transform: translateY(-1em);
}

.serviceItemName {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: #361b5f;
}

.serviceItemDescription {
  width: 100%;
  color: rgb(90, 89, 89);
  font-size: 1.1em;
}

.serviceItemButton {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 2px solid #361b5f;
  border-radius: 2em;
  color: #361b5f;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
}

.serviceItemButton:hover {
  border: 2px solid tomato;
  color: tomato;
}

.servicePage {
  background-color: #f5f5f5;
  padding-bottom: 5vh;
}

.servicePage .NavCover {
  height: 35vh !important;
}

.service .container .row {
  margin-top: 4em;
  margin-bottom: 5em;
}

.serviceSubHeading {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: #361b5f;
}

.serviceDescription {
  white-space: pre-wrap;
  font-size: 1.25em;
  color: rgb(90, 89, 89);
}

#aboutPage .NavCover .container h1 {
  width: 70%;
}

strong {
  color: #36b6cc;
}

#aboutContent {
  margin-bottom: 5vh;
  animation: lightSpeedInRight 1s;
}

#aboutContent h3 {
  margin: 1em 0;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: #361b5f;
  transition: all 0.3s ease-in-out;
}

#aboutContent h3:hover {
  color: #36b6cc;
}

#aboutContent p {
  margin: auto;
  width: 60%;
  text-align: left;
  font-size: 1.25em;
  color: rgb(90, 89, 89);
}

.aboutBlock .container p {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

#aboutBlock1 {
  background-color: tomato;
  color: white;
  animation: slideInLeft 1s;
}

#aboutBlock2 {
  background-color: #f5f5f5;
  color: tomato;
  animation: slideInRight 1s;
}

#contactArea {
  margin: 5em 0;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
}

#contactArea .container h4 {
  color: #361b5f;
  margin-bottom: 1em;
  animation: pulse 1s;
  animation-delay: 2s;
}

#contactArea .container h4 a {
  text-decoration: underline;
}

#contactArea .container h5 {
  color: #361b5f;
  margin-bottom: 1em;
}

#contactForm div span {
  color: rgb(90, 89, 89);
  font-size: 1.25em;
}

#contactEmail {
  width: 17em !important;
}

#contactPhone {
  margin-bottom: 2vh !important;
}

.contactInput {
  display: inline !important;
  width: 10em !important;
  margin: 0 0.5em !important;
  color: #361b5f;
  font-weight: 600 !important;
  font-size: 1.25em !important;
  border-bottom: 2px solid #361b5f !important;
}

#contactName {
  width: 5em !important;
}

.css-2b097c-container {
  display: inline-block;
  width: 25em;
  margin: 1em 0;
  margin-left: 1em;
}

.css-1pahdxg-control:hover {
  border-color: #361b5f;
}

.contactInput::placeholder {
  color: #361b5f;
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
}

#contactText {
  width: 30vw !important;
  height: 20vh !important;
  margin-top: 2vh !important;
}

#contactSubmit {
  margin-top: 2em;
  background-color: transparent;
  border: 2px solid #361b5f;
  border-radius: 2em;
  color: #361b5f;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.5em 1.5em;
  transition: all 0.3s ease-in-out;
}

#contactSubmit:hover {
  transform: translateY(-0.5em);
}

/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.formMsg {
  margin-top: 5vh;
  color: #361b5f;
  font-size: 1.5em;
}

#blogPosts {
  margin-top: 5em;
}

.blogItemName {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: #361b5f;
}

.blogItemDescription {
  width: 90%;
  color: rgb(90, 89, 89);
}

.blogContent {
  margin-top: 5em;
  margin-bottom: 5em;
}

.blogContent h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: #361b5f;
}

.blogPost .NavCover {
  height: 30vh;
}

.blogContent .container p {
  width: 80%;
  margin: auto;
  text-align: left;
  white-space: pre-wrap;
  color: rgb(90, 89, 89);
  font-size: 1.2em;
}

.returnButton {
  display: inline-block;
  margin: 0 auto 5em auto;
  padding: 0.5em 1.5em;
  border: 2px solid #361b5f;
  border-radius: 2em;
  color: #361b5f;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
}

.returnButton:hover {
  transform: translateX(-1em);
  border-color: tomato;
  color: tomato;
}

.recentBanner {
  padding: 5vh 0;
}

.recentBanner .container h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  color: #361b5f;
}

.recentBanner .container .strike {
  margin-bottom: 3vh;
}

.recentPost {
  animation: slideInUp 1s;
}

.recentTitle {
  color: #361b5f;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
}

.recentDescription {
  color: rgb(90, 89, 89);
  font-size: 1.2em;
}

footer {
  background: rgb(78, 47, 57);
  background: linear-gradient(
    90deg,
    rgba(78, 47, 57, 1) 0%,
    rgba(64, 63, 72, 1) 100%
  );
}

.footerTitle {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}

#footerArea p {
  width: 75%;
  font-size: 1.1em;
}

#footerServices ul li {
  padding-top: 0.5em;
  font-size: 1.1em;
}

#footerServices ul li a {
  color: white;
}

#footerContact a p {
  font-size: 1.1em;
  color: white;
}

#privacyPolicy .container h4 {
  color: #361b5f;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
}

#privacyPolicy .container p {
  color: rgb(90, 89, 89);
  font-size: 1.25em;
}

#privacyPolicy .container ol li {
  color: rgb(90, 89, 89);
  font-size: 1.25em;
}

@media only screen and (max-width: 1300px) {
  #servicesHeading,
  #aboutHeading {
    width: 80% !important;
  }

  .blogPost .NavCover {
    height: 40vh;
  }
}

@media only screen and (max-width: 1000px) {
  #heroSection {
    height: 170vh;
  }

  #heroContent {
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  .reviewContainer {
    margin: 3vh 0;
  }

  #homeAbout {
    padding-bottom: 30vh;
  }

  #aboutPage .NavCover {
    height: 50vh;
  }

  #ContactTitle {
    margin-bottom: 0.5em;
  }

  #ContactInfo {
    margin-bottom: 0.5em;
  }
}

@media only screen and (max-width: 750px) {
  .navbar {
    flex-direction: column;
  }

  .logo,
  .contact {
    display: none;
  }

  #heroSection {
    height: 160vh;
  }

  #heroContent {
    width: 80%;
    margin-left: 5vw;
    margin-bottom: 10vh;
  }

  #heroContent h1 {
    animation: none;
  }

  #heroBrief {
    margin-left: 5vw;
  }

  .workItem {
    width: 90%;
  }

  #contentText {
    margin-top: -12vh;
  }

  #blogPage .NavCover {
    height: 40vh;
  }

  .blogPost .NavCover {
    height: 50vh;
  }

  #contactText {
    width: 60vw !important;
  }
}

@media only screen and (max-width: 600px) {
  .navigation {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    width: 80vw;
  }

  #heroContent {
    margin-top: 10vh;
  }

  #heroBrief {
    flex-direction: column;
  }

  #leftBrief,
  #rightBrief {
    width: 80%;
  }

  #rightBrief {
    margin-left: 0;
  }

  .workExample {
    width: 80%;
    margin: auto;
  }

  #servicesPage .NavCover {
    height: 60vh;
  }

  .css-2b097c-container {
    margin: 5vh 0;
  }

  #contactEmail,
  #contactPhone {
    margin: 2vh 0 !important;
  }
}

@media only screen and (max-width: 500px) {
  #aboutPage .NavCover {
    height: 65vh;
  }

  #contactPage .NavCover {
    height: 50vh;
  }

  .blogPost .NavCover {
    height: 65vh;
  }
}

@media only screen and (max-width: 450px) {
  #heroSection {
    height: 200vh;
  }
}

@media only screen and (max-width: 400px) {
  #heroSection {
    height: 250vh;
  }

  #heroContent,
  #heroBrief {
    margin-left: 1vw;
  }

  #homeAbout {
    height: 150vh;
  }
}

.loading {
  height: 100vh;
  background: #361b5f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingWithin {
  background: white;
}

.loadingWithin .loader .loader__bar {
  background-color: #361b5f;
}

.loadingWithin .loader .loader__ball {
  background-color: tomato;
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;
}
.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #fff;
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 4s infinite;
}
.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 4s infinite;
}
.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 4s infinite;
}
.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 4s infinite;
}
.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 4s infinite;
}
.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: ball 4s infinite;
}
@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
